@using FinalProject.Models;
@model IEnumerable<Order>
@{
    ViewBag.Title = "Order Manager";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <h4>Filter data set using AJAX</h4>
    <div class="container" style="display:inline-block;">
        <input type="text" class="form-control" id="orderId" placeholder="Order Number">
    </div>
    <div class="container" style="display:inline-block;">
        <input type="text" class="form-control" id="customerId" placeholder="Customer ID">
    </div>
    <div class="container" style="display:inline-block;">
        <input type="text" class="form-control" id="employeeId" placeholder="Employee ID">
    </div>
    <button type="submit" id="filter" class="btn">Filter</button>
</div>
<br />
<br />

<div class="container">
        <h4>Filter data results in the table view with the Data Tables plugin</h4>
        <div class="row">
            <table class="table table-hover table-responsive" id="myTable">
                <thead>
                    <tr class="font-md">
                        <th>Order Number</th>
                        <th>Order Date</th>
                        <th>Required Date</th>
                        <th>Shipped Date</th>
                        <th>Customer ID</th>
                        <th>Sales Rep ID</th>
                    </tr>
                </thead>
                <tbody id="orders">
                    @foreach (Order o in Model)
                    {
                        <tr class="order-row" id="@o.OrderID">
                            <td>@o.OrderID</td>
                            <td class="@o.OrderDate">@o.OrderDate</td>
                            <td class="@o.RequiredDate">@o.RequiredDate</td>
                            <td class="@o.ShippedDate">@o.ShippedDate</td>
                            <td class="@o.CustomerID">@o.CustomerID</td>
                            <td class="@o.EmployeeID">@o.EmployeeID</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>

<!-- Modal window -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add to Cart?</h4>
            </div>
            <div class="modal-body">
                Modal Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" id="AddToCart">
                    Continue
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts
{
    <script>
        $(function () {
            $('#AddToCart').click(function () {
                alert(ProductID + "|" + $('#Quantity').val());
            });
            //setTimeout(function () { $('.alert').fadeOut(); }, 3000);
            showModelCount(@Model.Count());

            $('#orders').on('click', '.order-row', function () {
                // display modal
                $('#myModal').modal();
            });

            $('#filter').click(function () {
                var orderId = $('#orderId').val();
                var employeeId = $('#employeeId').val();
                var customerId = $('#customerId').val();
                var URL = "";
                if (orderId && !employeeId && !customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?IdFilter=" + orderId;
                }
                else if (orderId && employeeId && !customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?IdFilter=" + orderId + "&EmployeeId=" + employeeId;
                }
                else if (orderId && employeeId && customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?IdFilter=" + orderId + "&EmployeeId=" + employeeId + "&CustomerId=" + customerId;
                }
                else if (!orderId && employeeId && !customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?EmployeeId=" + employeeId;
                }
                else if (!orderId && employeeId && customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?EmployeeId=" + employeeId + "&CustomerId=" + customerId;
                }
                else if (!orderId && !employeeId && customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?CustomerId=" + customerId;
                }
                else if (orderId && !employeeId && customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?IdFilter=" + orderId+ "&CustomerId=" + customerId;
                }
                else {
                    URL = "@Url.Content("~")Order/FilterOrders";
                }



                //var URL = "@Url.Content("~")Order/FilterOrders?IdFilter=" + orderId;
                $.getJSON(URL)
                    .always(function (data, textStatus, statusObject) {
                        if (statusObject.status == 200) {
                            // 200 OK
                            $('#orders').html('');
                            for (i = 0; i < data.length; i++) {
                                //console.log(data[i].ProductName);
                                var str = "<tr class='order-row' id='" + data[i].OrderID + "'>";
                                str += "<td>" + data[i].OrderID + "</td>";
                                str += "<td>" + data[i].OrderDate + "</td>";
                                str += "<td>" + data[i].RequiredDate + "</td>";
                                str += "<td>" + data[i].ShippedDate + "</td>";
                                str += "<td>" + data[i].CustomerID + "</td>";
                                str += "<td>" + data[i].EmployeeID + "</td>";
                                str += "</tr>";
                                $('#orders').append(str);
                            }
                            showModelCount(data.length);
                        } else {
                            // Error
                            console.log("Http response code: " + data.status);
                            console.log("Http response: " + data.statusText);
                        }
                    });
            });

            $('#myTable').DataTable();

        });

        function showModelCount(modelCount) {
            $('#modelCountDisplay').html(modelCount + " products");
        }
    </script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
}