@using FinalProject.Models;
@model IEnumerable<Order>
@{
    ViewBag.Title = "Order Manager";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <h4>Filter data set using AJAX</h4>
    <div class="container" style="display:inline-block;">
        <input type="text" class="form-control" id="orderId" placeholder="Order Number">
    </div>
    <div class="container" style="display:inline-block;">
        <input type="text" class="form-control" id="customerId" placeholder="Customer ID">
    </div>
    <div class="container" style="display:inline-block;">
        <input type="text" class="form-control" id="employeeId" placeholder="Employee ID">
    </div>
    <button type="submit" id="filter" class="btn">Filter</button>
</div>
<br />
<br />

<div class="container">
        <h4>Filter data results in the table view with the Data Tables plugin</h4>
        <div class="row">
            <table class="table table-hover table-responsive" id="myTable">
                <thead>
                    <tr class="font-md">
                        <th>Order Number</th>
                        <th>Order Date</th>
                        <th>Required Date</th>
                        <th>Shipped Date</th>
                        <th>Customer ID</th>
                        <th>Sales Rep ID</th>
                    </tr>
                </thead>
                <tbody id="orders">
                    @foreach (Order o in Model)
                    {
                        <tr class="order-row" id="@o.OrderID">
                            <td>@o.OrderID</td>
                            <td>@o.OrderDate</td>
                            <td>@o.RequiredDate</td>
                            <td>@o.ShippedDate</td>
                            <td>@o.CustomerID</td>
                            <td>@o.EmployeeID</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>

<!-- Modal window -->
<!-- Modal window -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">OrderDetails</h4>
            </div>
            <div class="modal-body">
                <h4>Ship to:</h4>
                <p id="shipTo"></p>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr class="font-md">
                            <th>Product ID</th>
                            <th>Product Name</th>
                        </tr>
                    </thead>
                    <tbody id="modalContent"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts
{
    <script>
        $(function () {
            $('#AddToCart').click(function () {
                alert(ProductID + "|" + $('#Quantity').val());
            });
            //setTimeout(function () { $('.alert').fadeOut(); }, 3000);
            showModelCount(@Model.Count());

            $('.order-row').click(function () {
                // display modal
                orderId = $(this).attr('id');
                var URL = "@Url.Content("~")Order/getOrderData/" + orderId;
                $.getJSON(URL)
                    .always(function (data, textStatus, statusObject) {
                        if (statusObject.status == 200) {
                            $('#modalContent').html('');
                            for (i = 0; i < data.length; i++) {
                                //console.log(data[i].ProductName);
                                var str = "<tr id='" + data[i].orderId + "'>";
                                str += "<td>" + data[i].ProductID + "</td>";
                                str += "<td>" + data[i].ProductName + "</td>";
                                str += "</tr>";
                                $('#modalContent').append(str);

                            }
                            $('#shipTo').html('');
                            var str = "<p>" + data[0].ShipName + "</p>";
                            str += "<p>" + data[0].ShipAddress + "</p>";
                            str += "<p>" + data[0].ShipCity + ", " + data[0].ShipRegion + " " + data[0].ShipPostalCode + "</p>";
                            str += "<p>" + data[0].ShipCountry + "</p>";
                            $('#shipTo').append(str);

                        } else {
                            console.log("Http response code: " + data.status);
                            console.log("Http response: " + data.statusText);
                        }
                        $('#myModal').modal();
                    });

            });

            $('#filter').click(function () {
                var orderId = $('#orderId').val();
                var employeeId = $('#employeeId').val();
                var customerId = $('#customerId').val();
                var URL = "";
                if (orderId && !employeeId && !customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?IdFilter=" + orderId;
                }
                else if (orderId && employeeId && !customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?IdFilter=" + orderId + "&EmployeeId=" + employeeId;
                }
                else if (orderId && employeeId && customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?IdFilter=" + orderId + "&EmployeeId=" + employeeId + "&CustomerId=" + customerId;
                }
                else if (!orderId && employeeId && !customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?EmployeeId=" + employeeId;
                }
                else if (!orderId && employeeId && customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?EmployeeId=" + employeeId + "&CustomerId=" + customerId;
                }
                else if (!orderId && !employeeId && customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?CustomerId=" + customerId;
                }
                else if (orderId && !employeeId && customerId) {
                    URL = "@Url.Content("~")Order/FilterOrders?IdFilter=" + orderId+ "&CustomerId=" + customerId;
                }
                else {
                    URL = "@Url.Content("~")Order/FilterOrders";
                }



                //var URL = "@Url.Content("~")Order/FilterOrders?IdFilter=" + orderId;
                $.getJSON(URL)
                    .always(function (data, textStatus, statusObject) {
                        if (statusObject.status == 200) {
                            // 200 OK
                            $('#orders').html('');
                            for (i = 0; i < data.length; i++) {
                                //console.log(data[i].ProductName);
                                var str = "<tr class='order-row' id='" + data[i].OrderID + "'>";
                                str += "<td>" + data[i].OrderID + "</td>";
                                str += "<td>" + data[i].OrderDate + "</td>";
                                str += "<td>" + data[i].RequiredDate + "</td>";
                                str += "<td>" + data[i].ShippedDate + "</td>";
                                str += "<td>" + data[i].CustomerID + "</td>";
                                str += "<td>" + data[i].EmployeeID + "</td>";
                                str += "</tr>";
                                $('#orders').append(str);
                            }
                            showModelCount(data.length);
                        } else {
                            // Error
                            console.log("Http response code: " + data.status);
                            console.log("Http response: " + data.statusText);
                        }
                    });
            });

            //$('#myTable').DataTable();
            $('#myTable').dataTable({
                "createdRow": function (row, data, dataIndex) {
                    var reqDate = Date.parse(data[2]);
                    var tempDate = Date.parse("5/13/2016 12:00:00 AM");

                    if (data[3] == "") {
                        if (reqDate > tempDate) {
                            $(row).css("background-color", "green");
                        }
                        if (reqDate == tempDate) {
                            $(row).css("background-color", "yellow");
                        }
                        if (reqDate < tempDate) {
                            $(row).css("background-color", "red");
                        }
                    }
                }
            });

        });

        function showModelCount(modelCount) {
            $('#modelCountDisplay').html(modelCount + " products");
        }
    </script>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
}